body, html {
  margin: 0;
}

body {
  background-image: url('./1950s.jpg');
}

* {
  margin: 0;
}

.modalInnerWrapper {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#div1 {
  height: 356px;
  width: 343px;
  margin-top: 523px;
  margin-left: 115px;
}

#topWrapper {
  display: flex;
  flex-direction: row;
}

#div2 {
  height: 356px;
  width: 479px;
  margin-top: 523px;
  margin-left: 30px;
}

#video1 {
  margin-left: 220px;
  margin-bottom: 5%;
}

#bottomWrapper {
  display: flex;
  flex-direction: row;
}

#div3 {
  height: 355px;
  width: 410px;
  margin-top: 180px;
  margin-left: 115px;
}

#div4 {
  margin-left: 32px;
  margin-top: 180px;
  width: 408px;
  height: 355px;
}

#learnMore {
  margin-left: calc(50% - 50px);
  margin-top: 310px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.desciption {
  font-family: 'Helvetica Neue';
  size: 15px;
  font-style: italic;
  color: white;
  padding-bottom: 5%;
  text-align: center;
  
}

#modalContent1 {
  padding-top: 20%;
  flex-direction: column;
}

.modalContent {
  display: flex;
  justify-content: center;
}

#p1 {
  font-family: 'Helvetica Neue';
  text-align: left;
  color: white;
  font-size: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

#p2 {
  font-family: 'Helvetica Neue';
  text-align: left;
  color: white;
  font-size: 30px;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

#modalContent2 {
  flex-direction: row;
  padding-top: 20%;
  justify-content: center;
}

.photoDescription {
  font-family: 'Helvetica Neue';
  size: 15px;
  font-style: italic;
  color: white;
  text-align: center;
  padding-top: 10%;
}

#modalContent3 {
  flex-direction: row;
  padding-top: 5%;
  justify-content: center;
}

#description4 {
  margin-top: 5%;
}

#p3 {
  font-family: 'Helvetica Neue';
  text-align: left;
  color: white;
  font-size: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

#p5 {
  font-family: 'Helvetica Neue';
  text-align: left;
  color: white;
  font-size: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80%;  
}

#video2 {
  margin-top: 30%;
}

button {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}